body {
    box-sizing: border-box;
    max-width: 100vw;
    padding-top: 4vh;
    margin: 0;
}

nav {
    display: flex;
    max-width: 100vw;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    float: right;
}

nav ul {
    margin-right: 2vw;
}

nav ul li {
    display: inline-block;
    margin-left: 2vw;
    margin-right: 1vw;
}

li a {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}

li a:hover{
    cursor: pointer;
    color: orange;
}

header {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.box1 {
    display: flex;
    margin: 0;
    justify-content: center;
}

.box1 span {
    float: right;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8vw;
    margin-right: 60%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 6rem;
    text-align: right;
    white-space: nowrap;
}

h1 span {
    position: relative;
    right: -15vw;
}

.box2 {
    display: inline block;
    height: 15vh;
    width: auto;
    position: relative;
    top: -10vh;
}

#dale {
    max-height: 30vh;
    width: auto;
    position: relative;
    top: 10vh;
    right: -3vw;
    display: flex;
}

.bio {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
}

.bio h2 {
    box-sizing: border-box;
    padding: 15vh 0;
    background-color: orange;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

.bio p {
    display: inline-block;
    box-sizing: border-box;
    background-color: blueviolet;
    padding: 10vh;
    width: 60vw;
    margin: 0;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-align: justify;
}

/* PROJECTS */

.projects {
    max-width: 900vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.projects h2 {
    background-color: #2b790a;
    box-sizing: border-box;
    display: flex;
    padding: 20vh;
    align-content: center;
    justify-content: center;
    color: whitesmoke;
    margin: 0;
    width: 100%;
    border: 3rem solid whitesmoke;
}

.projects img {
    max-width: 50vw;
    height: 33%;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

#mmm {
    max-width: 50vw;
    /* box-sizing: border-box; */
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}

#mmm h3 {
    width: 100%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 33%;
    flex: 1fr;
}

#mmm p {
    height: 33%;
    margin: 0;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
}


#guess {
    box-sizing: border-box;
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#guess h3 {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#guess p {
    height: 33%;
    margin: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    font-weight: 500;
}

/*  SKILLS  */

.skills {
    max-width: 900vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.skills h2 {
    background-color: #2b790a;
    box-sizing: border-box;
    display: flex;
    padding: 20vh;
    align-content: center;
    justify-content: center;
    color: whitesmoke;
    margin: 0;
    width: 100%;
    border: 3rem solid whitesmoke;
}

#skillimages {
    background-color: blueviolet;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 10vh 0;
    position: relative;
}

.skills img {
    height: 7vw;
    width: auto;
    position: relative;
    z-index: 1;
}

#contactbod {
    background-color: orange;
}

#contactmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

#contactmain img {
    height: 60vh;
    width: auto;
}

#contactmain li {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    list-style: none;
}

#contactmain a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 3rem;
}

#contactbod a:hover {
    color: blueviolet;
}

/* TABLET  */

@media only screen and (min-width: 480px) and (max-width: 935px) {
    header {
        display: flex;
        justify-items: space-around;
        align-items: center;
    }
   
    h1 {
        font-size: 4rem;
    }

    .box2 {
        position: relative;
        top: 0;

    }

    #dale {
        max-width: 30vw;
        height: auto;
        position: relative;
        top: -10vh;
        right: -20vw;
    }

    .bio {
        display: block;
    }

    .bio h2 {
        padding: 10vh 5vw;
        width: 100vw;
        font-size: 2rem;
        box-sizing: border-box;
    }
    
    .bio p {
        padding: 4vw;
        width: 100vw;
        font-size: 0.8rem;
        display: flex;
        text-align: left;
    }

    .projects h2 {
        padding: 10vw 0;
        border: 3vw solid whitesmoke;
    }

    .skills h2 {
        padding: 10vw;
        border: 3vw solid whitesmoke;
    }

    #mmm {
        max-width: 100vw;
        height: 70vh;
    }

    #mmm, #guess {
        max-width: 100%;
        height: auto;
      }
    
      #mmm h3, #guess h3 {
        font-size: 2rem;
      }
    
      #mmm img, #guess img {
        max-width: 100%;
        height: auto;
      }
    
    #mmm h3 {
        font-size: 2rem;
    }

    #mmm img {
        max-width: 100vw;
        height: auto;
    }
    
    #mmm p {
        display: flex;
        justify-content: center;
        font-size: 0.6rem;
        padding: 0 3vw;
        height: 15vh;
    }

    #guess {
        max-width: 100vw;
        height: 70vh;
    }
    
    #guess h3 {
        font-size: 2rem;
    }

    #guess img {
        max-width: 100vw;
        height: auto;
    }
    
    #guess p {
        display: flex;
        justify-content: center;
        font-size: 0.6rem;
        padding: 0 3vw;
        height: 15vh;
    }

}

@media only screen and (max-width: 480px) {
    li a {
        font-size: 0.8rem;
    }

    header {
        display: flex;
        justify-items: space-around;
        align-items: center;
    }
   
    h1 {
        font-size: 2rem;
    }

    .box2 {
        position: relative;
        top: 0;

    }

    #dale {
        max-width: 30vw;
        height: auto;
        position: relative;
        top: -2vh;
        right: -20vw;
    }

    .bio {
        display: block;
    }

    .bio h2 {
        padding: 10vw 5vw;
        width: 100vw;
        font-size: 2rem;
        box-sizing: border-box;
    }
    
    .bio p {
        padding: 5vw;
        width: 100vw;
        font-size: 0.8rem;
        display: flex;
        text-align: left;
    }

    .projects h2 {
        padding: 10vw 0;
        max-width: 100vw;
        border: 3vw solid whitesmoke;
    }

    .skills h2 {
        padding: 10vw;
        max-width: 100vw;
        border: 3vw solid whitesmoke;
    }

    #mmm {
        max-width: 100vw;
        height: auto;
    }

    #mmm, #guess {
        max-width: 100%;
        height: 65vh;
      }
    
      #mmm h3, #guess h3 {
        font-size: 1rem;
      }
    
      #mmm img, #guess img {
        max-width: 100%;
        height: auto;
      }
    
    #mmm h3 {
        font-size: 2rem;
    }

    #mmm img {
        max-width: 100vw;
        height: auto;
    }
    
    #mmm p {
        display: flex;
        justify-content: center;
        font-size: 0.6rem;
        padding: 0 3vw;
        height: 15vh;
    }

    #guess {
        max-width: 100vw;
        height: 70vh;
    }
    
    #guess h3 {
        font-size: 2rem;
    }

    #guess img {
        max-width: 100vw;
        height: auto;
    }
    
    #guess p {
        display: flex;
        justify-content: center;
        font-size: 0.6rem;
        padding: 0 3vw;
        height: 15vh;
    }
}
